body {
	background-color: pink;
	color: white;
}

.container {
	margin-top: 45px;
	
}
#frameLG {
	
	border: 40px ridge white;
	box-shadow: 10px 10px 10px #888888;
}

#frameSM {
	height: 350px;
	width: 100%;
	border: 40px ridge white;
	box-shadow: 10px 10px 10px #888888;
}

h1 {
	text-align: center;
	font-size: 75px;
	font-family: 'Parisienne', cursive;

}

h2 {
	text-align: center;
	font-size: 100px;
	
}

h3{
	font-size: 35px;
	
}

p {
	margin: 50px;
	font-size: 35px;
	text-align: center;
}

#gamePlay {
	margin-top: 50px;
}

.responsive {
	width: 100%;
}

